website-assistant-optimized-workflow.json
{
  "name": "Website Assistant Optimized Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "website-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "userId",
              "value": "={{ $json[\"userId\"] }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json[\"sessionId\"] }}"
            },
            {
              "name": "userMessage",
              "value": "={{ $json[\"message\"] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set User Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-98e0a077fdbe422585855c3b10f03986"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "temperature",
              "value": "0.8"
            },
            {
              "name": "max_tokens",
              "value": "2000"
            },
            {
              "name": "top_p",
              "value": "0.95"
            },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"你是一个专业的网站助手AI，专门为校园二手交易平台提供技术支持。你具备丰富的网站开发、运维和优化经验。\n\n你的职责包括：\n1. 回答用户关于网站使用的问题\n2. 提供技术问题的解决方案\n3. 协助用户优化商品描述和定价\n4. 提供安全交易建议\n5. 解决用户在使用平台时遇到的问题\n\n请以专业、友好、耐心的态度回答用户问题，提供具体可行的建议。回答要简洁明了，避免使用过于复杂的术语。如果遇到无法解决的问题，请引导用户联系人工客服。\n\n当前上下文信息：\n用户ID: {{$json[\"userId\"]}}\n会话ID: {{$json[\"sessionId\"]}}\n时间戳: {{$json[\"timestamp\"]}}\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"{{$json[\"userMessage\"]}}\"\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "DeepSeek API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "data",
              "value": "={{ { response: $json[\"choices\"][0][\"message\"][\"content\"], userId: $json[\"userId\"], sessionId: $json[\"sessionId\"], timestamp: $json[\"timestamp\"] } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Context": {
      "main": [
        [
          {
            "node": "DeepSeek API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek API Call": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "website_assistant_optimized",
  "meta": {
    "instanceId": "12345678-1234-1234-1234-123456789012"
  }
}